<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <!-- LINK FONT-FAMILY -->
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <!-- FontAwesome 6.2.0 CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- (Optional) Use CSS or JS implementation -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
      integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- LINK CSS LIBRARY -->

    <!-- LINK CSS AND HREF HTML -->
    <link rel="stylesheet" href="./detail.html" />
    <link rel="stylesheet" href="./Register.html" />
    <link rel="stylesheet" href="../css/style.min.css" />
  </head>

  <body>
    <!-- HEADER -->
    <header>
      <div class="container-fluid">
        <nav class="navbar navbar-light justify-content-between">
          <a class="navbar-brand">
            <img src="../assets/img/Cyber-Logo.png" alt="" />
          </a>
          <div class="shopping d-flex">
            <div class="card-shopping d-flex">
              <div class="icon-shopping"></div>
              <p>(1)</p>
            </div>
            <div class="login d-flex ps-2">
              <a class="pe-2" href="#">
                <p>Login</p>
              </a>
              <a href="./Register.html">
                <p>Register</p>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <!-- MENU -->
    <section class="menu">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
          <a class="navbar-brand" href="./index.html">Home</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#"
                  >Men <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Woman</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Kid</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Sport</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </section>

    <!-- CAROSEL -->
    <section class="carosel">
      <div class="container">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-7">
                  <img
                    class="product-banner w-100"
                    src="../assets/img/Banner-Product.png"
                    alt=""
                  />
                </div>
                <div class="title col-5">
                  <div class="content">
                    <h1>Product name</h1>
                    <p>Product description ....</p>
                    <button class="btn btn-primary">Buy Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cover-img"></div>
    </section>

    <!-- MAIN -->
    <main class="product">
      <div class="container">
        <div class="title text-center">
          <h1>-Product Feature</h1>
        </div>
        <div class="mt-3">
          <div class="row" id="listProduct">
            <div class="col-sm-12 col-md-6 col-xl-4">
              <div class="item">
                <a href="./detail.html">
                  <img src="../assets/img/sneakers.png" alt="" />
                  <h1>Adidas Prophere</h1>
                  <p>short descript ...</p>
                  <div class="buy d-flex">
                    <button>Buy now</button>
                    <button>86$</button>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4">
              <div class="item">
                <a href="./detail.html">
                  <img src="../assets/img/sneakers.png" alt="" />
                  <h1>Adidas Prophere</h1>
                  <p>short descript ...</p>
                  <div class="buy d-flex">
                    <button>Buy now</button>
                    <button>86$</button>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4">
              <div class="item">
                <a href="./detail.html">
                  <img src="../assets/img/sneakers.png" alt="" />
                  <h1>Adidas Prophere</h1>
                  <p>short descript ...</p>
                  <div class="buy d-flex">
                    <button>Buy now</button>
                    <button>86$</button>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4">
              <div class="item">
                <a href="./detail.html">
                  <img src="../assets/img/sneakers.png" alt="" />
                  <h1>Adidas Prophere</h1>
                  <p>short descript ...</p>
                  <div class="buy d-flex">
                    <button>Buy now</button>
                    <button>86$</button>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4">
              <div class="item">
                <a href="./detail.html">
                  <img src="../assets/img/sneakers.png" alt="" />
                  <h1>Adidas Prophere</h1>
                  <p>short descript ...</p>
                  <div class="buy d-flex">
                    <button>Buy now</button>
                    <button>86$</button>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4">
              <div class="item">
                <a href="./detail.html">
                  <img src="../assets/img/sneakers.png" alt="" />
                  <h1>Adidas Prophere</h1>
                  <p>short descript ...</p>
                  <div class="buy d-flex">
                    <button>Buy now</button>
                    <button>86$</button>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer style="transform: translateY(52%)">
      <div class="about-us">
        <div class="contact-footer pb-3">
          <div class="footer-text">
            <div class="row">
              <div class="col-4">
                <ul>
                  <a href="">
                    <p style="font-weight: 500">GET HELP</p>
                  </a>
                  <a href="">
                    <p>Contact</p>
                  </a>
                  <a href="">
                    <p>Shopping</p>
                  </a>
                  <a href="">
                    <p>NiKEID</p>
                  </a>
                  <a href="">
                    <p>Nike+</p>
                  </a>
                </ul>
              </div>
              <div class="col-3">
                <ul>
                  <a href="">
                    <p style="font-weight: 500">GET HELP</p>
                  </a>
                  <a href="">
                    <p>Contact</p>
                  </a>
                  <a href="">
                    <p>Shopping</p>
                  </a>
                  <a href="">
                    <p>NiKEID</p>
                  </a>
                  <a href="">
                    <p>Nike+</p>
                  </a>
                </ul>
              </div>
              <div class="col-4">
                <ul>
                  <h1 style="font-weight: 500">REGISTER</h1>
                  <p>
                    Create one account to manage everything you do with nike,
                    from your shopping preference to your Nike+ activity
                  </p>
                  <a href="#">Learn More</a>
                </ul>
              </div>
            </div>
          </div>

          <div class="footer-bg">
            <div class="row">
              <div class="col-4">
                <ul>
                  <a href="">
                    <p style="font-weight: 500">EMAIL SIGN UP</p>
                  </a>
                  <a href="">
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                  </a>
                  <a href="">
                    <p style="color: rgb(232, 95, 95)">Sign up now</p>
                  </a>
                </ul>
              </div>
              <div class="col-4">
                <ul>
                  <a href="">
                    <p style="font-weight: 500">GIFT CARDs</p>
                  </a>
                  <a href="">
                    <p>Give the gift that alway fits</p>
                  </a>
                  <a href="">
                    <p style="color: rgb(232, 95, 95)">Views card</p>
                  </a>
                </ul>
              </div>
              <div class="col-4">
                <ul>
                  <h1>REGISTER</h1>
                  <p>
                    Create one account to manage everything you do with nike,
                    from your shopping preference to your Nike+ activity
                  </p>
                  <a href="#">Learn More</a>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <!-- LINK JAVASCRIPT -->
    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../Controller/index.js"></script>
  </body>
</html>
