@import url("../../css/style.min.css");
$text-c1-primary: #2a73dd;
$text-c1-dark: #000000;
$text-c1-warning: #f4d350;
$text-c2-orage: #d46661;
$text-c2-linear: rgba(246, 246, 246, 1);
// bg
$bg-c2-light: #f5f5f5;
$bg-c2-black: #000000;
$bg-c2-yellow: #e1b067;
$bg-c2-grey: #dedddc;
$bg-c2-purple: #ae18e2;
$bg-c2-linear: linear-gradient(
  270deg,
  rgba(62, 32, 248, 0.9) 5.14%,
  #d017ee 89.71%
);

//font-size
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-24xl: 24px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl: 60px;

//font-weight
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;
// border
body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}
.box-shadow-primary {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

//mixin trong scss (Tương tự khái niệm hàm)
@mixin text($fz: $text-xl, $fw: $text-2xl, $color: $text-c1-dark) {
  font-size: $fz;
  font-weight: $fw;
  color: $color;
}

@mixin button($fz, $fw, $color, $bg, $pd, $bd, $br, $c-hover, $bg-hover) {
  @include text($fz, $fw, $color);
  background: $bg;
  padding: $pd;
  border: $bd;
  border-radius: $br;
  cursor: pointer;

  &:hover {
    color: $c-hover;
    background: $bg-hover;
  }
}
@mixin a($fz, $fw, $color, $pd, $bd, $c-hover, $bg-hover) {
  @include text($fz, $fw, $color);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: $br;
  cursor: pointer;

  &:hover {
    color: $c-hover;
    background: $bg-hover;
  }
}
@media screen and (max-width: 992px) {
  .content-left,
  .content-right {
    width: 40% !important;
  }
  .content-left {
    margin-right: 10% !important;
  }
}

.gradient-custom {
  input {
    &:focus-visible {
      outline: 3px solid $bg-c2-purple;
      border-bottom: none !important;
      color: #d017ee;
    }
  }
  h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: black;
  }
  form {
    .content-left {
      input.input-left {
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 2px solid $bg-c2-purple;
        height: 36px;
        width: 346px;
        margin-bottom: 20px;
      }
    }
    .content-right {
      input.input-right {
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 2px solid $bg-c2-purple;
        height: 36px;
        width: 346px;
        margin-bottom: 20px;
      }
      button {
        height: 50px;
        width: 191px;
        background: rgba(174, 24, 226, 1);
      }
    }
  }
}
